In [1]:
# Work with exported data from Apple Health in raw format
# ToDo before getting going
# pip install xmltodict

In [2]:
# List of dependencies
import pandas as pd
import xmltodict
import json

In [3]:
# Reading in Data
input_path = './Export.xml'
with open(input_path, 'r') as xml_file:
    input_data = xmltodict.parse(xml_file.read())

In [4]:
# Getting actual heald data records
records_list = input_data['HealthData']['Record']
df = pd.DataFrame(records_list)

In [5]:
# Date points collected
df['@type'].unique()

array(['HKQuantityTypeIdentifierDietaryWater',
       'HKQuantityTypeIdentifierHeight',
       'HKQuantityTypeIdentifierBodyMass',
       'HKQuantityTypeIdentifierHeartRate',
       'HKQuantityTypeIdentifierStepCount',
       'HKQuantityTypeIdentifierDistanceWalkingRunning',
       'HKQuantityTypeIdentifierBasalEnergyBurned',
       'HKQuantityTypeIdentifierActiveEnergyBurned',
       'HKQuantityTypeIdentifierFlightsClimbed',
       'HKQuantityTypeIdentifierAppleExerciseTime',
       'HKQuantityTypeIdentifierDistanceCycling',
       'HKQuantityTypeIdentifierRestingHeartRate',
       'HKQuantityTypeIdentifierVO2Max',
       'HKQuantityTypeIdentifierWalkingHeartRateAverage',
       'HKQuantityTypeIdentifierHeadphoneAudioExposure',
       'HKCategoryTypeIdentifierSleepAnalysis',
       'HKCategoryTypeIdentifierAppleStandHour',
       'HKCategoryTypeIdentifierMindfulSession',
       'HKCategoryTypeIdentifierHighHeartRateEvent',
       'HKQuantityTypeIdentifierHeartRateVariabilitySDNN'], dtype=object)

In [6]:
# Data sources the were connect to Apple Health
df["@sourceName"].unique()

array(['Mein Wasser', 'Health', 'Kurzbefehle', "Marvin's iPhoneXs",
       'Connect', 'Apple\xa0Watch von Marvin', 'Wahoo', 'ELEMNT',
       "Marvin's iPhone7", 'Strava', 'Nike Training', 'Uhr', 'Calm',
       'Headspace', 'Tide'], dtype=object)

In [7]:
# Format time
format = '%Y-%m-%d %H:%M:%S'
df['@creationDate'] = pd.to_datetime(df['@creationDate'], format=format)
df['@startDate'] = pd.to_datetime(df['@startDate'], format=format)
df['@endDate'] = pd.to_datetime(df['@endDate'], format=format)

# Filter for StepCount and Data Source
step_counts = df[df['@type'] == 'HKQuantityTypeIdentifierStepCount']
step_counts = step_counts[step_counts['@sourceName'].isin(["Apple\xa0Watch von Marvin", "Connect"])]

In [8]:
step_counts.head()

,@type,@sourceName,@sourceVersion,@unit,@creationDate,@startDate,@endDate,@value,MetadataEntry,@device,HeartRateVariabilityMetadataList
213165,HKQuantityTypeIdentifierStepCount,Apple Watch von Marvin,3.2.2,count,2017-05-25 07:14:50,2017-05-25 07:12:34,2017-05-25 07:13:35,22,NaN,"<<HKDevice: 0x281f54820>, name:Apple Watch, ma...",NaN
213166,HKQuantityTypeIdentifierStepCount,Apple Watch von Marvin,3.2.2,count,2017-05-25 07:22:58,2017-05-25 07:15:26,2017-05-25 07:16:28,20,NaN,"<<HKDevice: 0x281f56df0>, name:Apple Watch, ma...",NaN
213167,HKQuantityTypeIdentifierStepCount,Apple Watch von Marvin,3.2.2,count,2017-05-25 08:34:58,2017-05-25 08:23:16,2017-05-25 08:32:48,17,NaN,"<<HKDevice: 0x281f55bd0>, name:Apple Watch, ma...",NaN
213168,HKQuantityTypeIdentifierStepCount,Apple Watch von Marvin,3.2.2,count,2017-05-25 08:50:13,2017-05-25 08:39:31,2017-05-25 08:45:36,9,NaN,"<<HKDevice: 0x281f55d60>, name:Apple Watch, ma...",NaN
213169,HKQuantityTypeIdentifierStepCount,Apple Watch von Marvin,3.2.2,count,2017-05-25 08:58:00,2017-05-25 08:51:58,2017-05-25 08:53:00,36,NaN,"<<HKDevice: 0x281f56ad0>, name:Apple Watch, ma...",NaN

In [9]:
# Drop unimportant columns and convert to numeric
columns_to_drop = ["@sourceName", "@sourceVersion", "@startDate", "@endDate", "MetadataEntry", "@device", "HeartRateVariabilityMetadataList"]
step_counts = step_counts.drop(columns_to_drop, axis=1)
step_counts.loc[:, '@value'] = pd.to_numeric(step_counts.loc[:, '@value'])

In [10]:
step_counts.head()

                                    @type  @unit       @creationDate  @value
213165  HKQuantityTypeIdentifierStepCount  count 2017-05-25 07:14:50      22
213166  HKQuantityTypeIdentifierStepCount  count 2017-05-25 07:22:58      20
213167  HKQuantityTypeIdentifierStepCount  count 2017-05-25 08:34:58      17
213168  HKQuantityTypeIdentifierStepCount  count 2017-05-25 08:50:13       9
213169  HKQuantityTypeIdentifierStepCount  count 2017-05-25 08:58:00      36

In [11]:
# Step count per day
step_counts_by_creation = step_counts.groupby('@creationDate').sum()
by_day = step_counts_by_creation['@value'].resample('D').sum()
#by_day.sort_values(ascending=False)[:10]

In [12]:
# Sampling test cell
#print(by_day.mean(axis=0))
#print(step_counts_by_creation['@value'].resample('D').min())

In [13]:
# The above is just an exploration below is the actual functional implementation - except for timestamp generation

In [14]:
# Function for preparing data that can be aggregated per day
def prepare_data_typ(data_type, operation):
    # Select data
    selected_data_type = df[df['@type'] == data_type]
    selected_data_type = selected_data_type[selected_data_type['@sourceName'].isin(["Apple\xa0Watch von Marvin", "Connect"])]
    # Clean data
    columns_to_drop = ["@sourceName", "@sourceVersion", "@startDate", "@endDate", "MetadataEntry", "@device", "HeartRateVariabilityMetadataList"]
    selected_data_type = selected_data_type.drop(columns_to_drop, axis=1)
    selected_data_type.loc[:, '@value'] = pd.to_numeric(selected_data_type.loc[:, '@value'])
    #selected_data_type.rename(columns={ selected_data_type.columns[1]: type_name}, inplace = True)
    # Aggregate per day
    selected_data_sum = selected_data_type.groupby('@creationDate').sum()
    # Aggregation function selector to fit the data type
    if operation == "sum":
        final = selected_data_sum['@value'].resample('D').sum()
    elif operation == "mean":
        final = selected_data_sum['@value'].resample('D').mean()
    elif operation == "min":
        final = selected_data_sum['@value'].resample('D').min()
    elif operation == "max":
        final = selected_data_sum['@value'].resample('D').max()
    return final

In [15]:
# Combining data sets
combined_data_set = pd.concat([prepare_data_typ('HKQuantityTypeIdentifierStepCount', 'sum'), prepare_data_typ('HKQuantityTypeIdentifierBasalEnergyBurned', 'sum'), prepare_data_typ('HKQuantityTypeIdentifierActiveEnergyBurned', 'sum'), prepare_data_typ('HKQuantityTypeIdentifierRestingHeartRate', 'mean'), prepare_data_typ('HKQuantityTypeIdentifierHeartRate', 'max')], axis=1)
combined_data_set.columns = ['StepCount', 'BasalEnergyBurned', 'ActiveEnergyBurned', 'RestingHR', 'maxHR']
combined_data_set['totalEnergyBurned'] = combined_data_set['BasalEnergyBurned'] + combined_data_set['ActiveEnergyBurned']
combined_data_set.tail(5)

,StepCount,BasalEnergyBurned,ActiveEnergyBurned,RestingHR,maxHR,totalEnergyBurned
@creationDate,,,,,,
2019-10-31,14134,19641.629,20961.978,64.5,4193.0,40603.607
2019-11-01,2445,1940.459,283.490,60.0,158.0,2223.949
2019-11-02,505,1663.801,82.562,54.5,127.0,1746.363
2019-11-03,8517,1903.896,536.213,NaN,149.0,2440.109
2019-11-04,5107,1862.669,436.124,59.5,154.0,2298.793

In [16]:
# Export Data
# Set Index for converting datatime to string and do conversion
combined_data_set_indexed = combined_data_set.to_dict('index')
result = dict((key.strftime("%m/%d/%Y"), value) for (key, value) in combined_data_set_indexed.items())
# Write JSON-file
with open('result.json', 'w') as fp:
    json.dump(result, fp)